html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: rgb(80, 80, 80);
    padding-left: 5%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover a {
    color: rgb(0, 174, 255);
}

.logo {
    text-decoration: none;
    color: rgb(0, 174, 255);
}

.logo:hover {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.landing {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("./img/tesla.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing h1 {
    margin-top: 25%;
    font-size: 3em;
    text-shadow: 2px 2px #000000;
    color: white;
}

.landing h2 {
    margin-top: 5px;
    font-size: 2em;
    color: white;
}

.landing-btn {
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 1px white;
    text-decoration: none;
    color: white;
}

.landing-btn:hover {
    border: solid 1px white;
    color: rgb(0, 174, 255);
    background-color: white;
}

.aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 1fr 1fr;
    height: 700px;
    background-color: rgb(243, 228, 209);
}

.aboutus-header {
    grid-column: 1 / 4;
}

.aboutus-header h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
}

.underline {
    width: 120px;
    height: 4px;
    background-color: rgb(0, 174, 255);
    margin: 0 auto;
}

.aboutus>div {
    text-align: center;
}

.where {
    grid-column: 1/2;
    grid-row: 2;
}

.aboutus p {
    text-align: justify;
    padding: 10px 30px;
}

.aboutus h3 {
    font-size: 2rem;
}

.design img{
    width: 300px;
}

.services img {
    width: 250px;
}

.gallery {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("./img/electric-cars.jpg");
    height: 400px;
    grid-template-rows: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}

.gallery h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.gallery p {
    color: white;
}

.gallery-btn {
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 1px white;
    text-decoration: none;
    color: white;
}

.offer {
    height: 500px;
    display: grid;
    grid-template-rows: 15% 1fr;
    grid-template-columns: 75px 1fr 1fr 1fr 75px;
}
.offer-header{
    text-align: center;
    font-size: 2rem;
    grid-column: 3;
}

.off {
    border: solid 3px rgb(0, 174, 255);
    margin: 15px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-rows: 10% 1fr 15%;
}

.off p{
    grid-row: 2;
    margin: 0 15px;
    text-align: justify;
}

.offer-leasing {
    grid-row: 2;
    grid-column: 2;
}
.offer-buy {
    grid-row: 2;
    grid-column: 3;
}
.offer-test {
    grid-row: 2;
    grid-column: 4;
}

.btn {
    grid-row: 3;
    width: 150px;
    margin: 5px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 1px black;
    text-decoration: none;
    color: black;
}